.dropdown {
  cursor: pointer;
}
.dropdown--visualise::after {
  margin-left: 0.255em;
  border-top: 0.3em solid;
  border-bottom: 0;
  vertical-align: 0.255em;
  content: "";
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  display: inline-block;
}
.dropdown__menu {
  max-height: 200px;
  overflow: hidden auto;
  display: none;
  background: #3a3f44;
  padding: 0.25rem 1.5rem;
  position: absolute;
}
.dropdown__menu::-webkit-scrollbar {
  width: 5px;
}
.dropdown__menu::-webkit-scrollbar-track {
  background: #1c1e22;
}
.dropdown__menu::-webkit-scrollbar-thumb {
  background: #7a8288;
}
.dropdown--open .dropdown__menu {
  display: block;
}