.tileset {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}
.tile {
  background: #32383e;
  min-height: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}
.tile:hover {
  background: #383f46;
}
.tile__image {
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding: 0 1px;
}
.tile__info {
  padding: 0.25rem 1rem 1rem 1rem;
}
.tile__title, .tile__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tile__title {
  font-size: 1.20625rem;
  margin-bottom: 0.25rem;
  font-weight: 510;
}
@media screen and (max-width: 1250px) {
  .tileset {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .tileset {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
}
@media screen and (max-width: 700px) {
  .tileset {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
  }
}