.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1250px) {
  .filters {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .filters {
    display: flex;
    flex-direction: column;
    gap: 20px
  }
}